# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
GoogleModel/
data for input/
Word2Vec.pyc
model/
test/
train/
data for input0/
model1/
model1.pyc
model2/
draw.pyc
test1/
model2.pyc
train1/
data for input1/
train2/
test4/
test3/
info1/
tk1/
info2/
tk2/
